In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
file1=pd.read_csv('../Data/clean/final_client_experiment_Cleaned.csv')
file2=pd.read_csv('../Data/clean/df_final_demo_concat_cleaned.csv')

Filtering to get only the clients who finished all steps

In [3]:
Test=file1[file1['process_step']== "confirm"]['client_id'].unique()
clients_all_steps=file1[file1['client_id'].isin(Test)]

Filtering to get the ages specified in the hypotesis

In [4]:
clients_with_age=file2[['client_id','client_age']]

final_data_clients=pd.merge(clients_all_steps,clients_with_age,on='client_id', how = "left")

In [5]:
final_data_clients.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time',
       'treatment_group', 'client_age'],
      dtype='object')

In [6]:
final_data_clients[final_data_clients['client_age'].isnull()]['client_id'].unique()

array([8191345, 5144725, 7616759, 5277910,  355337, 1227228, 1037867,
       8611797, 7402828, 4876926])

Adding the age to the missing clients with no age. equally divided between both groups

In [15]:
ids_no_age=pd.DataFrame(final_data_clients[final_data_clients['client_age'].isnull()]['client_id'].unique(), columns=['client_id'])
new_age={8191345: 34, 5144725: 34, 7616759:34, 5277910:34, 355337: 34, 1227228: 54, 1037867: 54, 8611797: 54, 7402828: 54,4876926:54}
ids_only=[8191345,5144725,7616759,5277910,355337,1227228,1037867,8611797,7402828,4876926]
mask = final_data_clients['client_id'].isin(ids_only)
final_data_clients.loc[mask,'client_age']=final_data_clients['client_id'].map(new_age)

In [17]:
final_data_clients.to_csv("../data/clean/Final_file.csv", index=False, encoding='utf-8')

In [18]:
final_data_clients

,client_id,visitor_id,visit_id,process_step,date_time,treatment_group,client_age
0,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,Test,34.0
1,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43,Test,34.0
2,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40,Test,34.0
3,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24,Test,34.0
4,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06,Test,34.0
...,...,...,...,...,...,...,...
243413,1574008,117364417_77840596075,528720790_71583064618_169151,confirm,2017-05-06 23:51:05,Test,55.0
243414,1574008,117364417_77840596075,528720790_71583064618_169151,step_3,2017-05-06 23:50:40,Test,55.0
243415,1574008,117364417_77840596075,528720790_71583064618_169151,step_2,2017-05-06 23:43:47,Test,55.0
243416,1574008,117364417_77840596075,528720790_71583064618_169151,step_1,2017-05-06 23:43:34,Test,55.0
243417,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test,55.0