In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import yaml
%matplotlib inline

try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)
except:
    print("Yaml configuration file not found!")

2. Loading Data

In [63]:
config
#['data']['clean']['file_demo_experiment_cleaned']

{'data': {'raw': {'file_client_profile': '../data/raw/df_final_demo.txt',
   'file_experiment_clients': '../data/raw/df_final_experiment_clients.txt',
   'file_web1': '../data/raw/df_final_web_data_pt_1.txt',
   'file_web2': '../data/raw/df_final_web_data_pt_2.txt',
   'file_footprints': '../data/raw/df_footprints.csv',
   'file_demo_experiment': '../data/raw/df_final_demo_concat.csv'},
  'clean': {'file': '../data/clean/cleaned.csv',
   'footprint_final_client_experiment_Cleaned': '../data/clean/final_client_experiment_Cleaned.csv',
   'file_demo_experiment_cleaned': '../data/clean/df_final_demo_concat_cleaned.csv',
   'file_transform': '../data/clean/df_footprints_transformed.csv'}}}

In [4]:
df_client = pd.read_csv(config['data']['raw']['file_client_profile'])
df_experiment = pd.read_csv(config['data']['raw']['file_experiment_clients'])
df_web1 = pd.read_csv(config['data']['raw']['file_web1'])
df_web2 = pd.read_csv(config['data']['raw']['file_web2'])
df_client_experiment = pd.read_csv(config['data']['raw']['file_demo_experiment'])

C:\Users\Gast\AppData\Local\Temp\ipykernel_16568\325902528.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_client_experiment = pd.read_csv(config['data']['raw']['file_demo_experiment'])

In [4]:
df_footprints = pd.concat([df_web1, df_web2])
df_footprints.to_csv(config['data']['raw']['file_footprints'])
df_footprints

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

3. Generic EDA

In [ ]:
df_client.info()

In [ ]:
df_client.head()
# df_client.isna().sum()
# df_client["gendr"].unique()
# df_client["bal"].min()
# df_client["bal"].max()

In [ ]:
df_client["calls_6_mnth"].unique()

In [ ]:
# df_client["num_accts"] =df_client["num_accts"].astype(int)

In [ ]:
df_experiment.head()

In [ ]:
df_experiment["Variation"].value_counts()
# df_experiment.dtypes
# df_experiment.isna().sum()

In [ ]:
df_footprints.info()
df_footprints.head()

In [ ]:
df_footprints["visitor_id"].nunique()

In [ ]:
# df_web1.head()
df_web1.info()
df_web1.duplicated().sum()

In [ ]:
# df_web2.head()
df_web2.info()
df_web2.duplicated().sum()

In [ ]:
# df_footprints["process_step"].unique()
# df_footprints["client_id"].value_counts()
# df_footprints["process_step"].unique()
df_footprints.isna().sum()

3a. df_client

In [ ]:
# df_client.info()
df_client.head()

In [ ]:
df_client_experiment.info()
df_client_experiment.head()

In [ ]:
Active = ['Test', 'Control']
test = df_client_experiment[df_client_experiment['variation'].isin(Active)]
test['clnt_age'].describe()

In [ ]:
test.head()

In [ ]:
test['clnt_tenure_yr'].describe()

In [ ]:
# sns.histplot(data=test,x=test["clnt_age"],y=test[""], )
sns.histplot(data=test["clnt_age"], kde=False, bins=10, color="salmon");

In [ ]:
sns.histplot(data=test["clnt_tenure_yr"], kde=False, bins=20, color="salmon");

In [ ]:
test["clnt_age"].value_counts().sort_values(ascending = False)

In [ ]:
test[test["clnt_age"]>35]

In [ ]:
df_client.select_dtypes("number").nunique().sort_values(ascending=False)

In [ ]:
df_client.select_dtypes("object").nunique().sort_values(ascending=False)

In [ ]:
potential_categorical_from_numerical = df_client.select_dtypes("number").loc[:, df_client.select_dtypes("number").nunique() < 20]
potential_categorical_from_numerical

In [ ]:
df_client["gendr"].value_counts()
# df_client.isna().sum()

In [ ]:
df_client["clnt_tenure_yr"].value_counts().sort_index(ascending=True)#.tail()
min_clnt_tenure_yr = df_client["clnt_tenure_yr"].min()
max_clnt_tenure_yr = df_client["clnt_tenure_yr"].max()
avg_clnt_tenure_yr = df_client["clnt_tenure_yr"].mean()
min_clnt_tenure_yr, max_clnt_tenure_yr

In [ ]:
df_client["clnt_tenure_mnth"].value_counts().sort_index(ascending=True)#.tail()

In [ ]:
df_client["clnt_age"].value_counts().sort_index(ascending=True)#.tail()

4. Clean

In [ ]:
# 
# df_client_experiment.isna().sum()
# df1_demo.shape

In [5]:
# Clean/rename columns
df_client_experiment = df_client_experiment.rename(columns = {"clnt_tenure_yr": "client_tenure_year", "clnt_tenure_mnth": "client_tenure_month", "clnt_age" : "client_age", "gendr": "gender", "bal": "balance","Variation": "treatment_group"}).drop(columns = "Unnamed: 0")
df_client_experiment.columns

Index(['client_id', 'client_tenure_year', 'client_tenure_month', 'client_age',
       'gender', 'num_accts', 'balance', 'calls_6_mnth', 'logons_6_mnth',
       'variation'],
      dtype='object')

In [ ]:
# df_client_experiment.drop("Unnamed:\ 0")

In [ ]:
# df_client_experiment["client_tenure_year"].unique()

In [ ]:
# df_client_experiment[df_client_experiment["client_tenure_month"].isna()]
# df_client_experiment.shape

In [6]:
#Drop  row, when values in subset are null
df_client_experiment = df_client_experiment.dropna(subset = ["client_tenure_year", "client_tenure_month", "client_age"], how = "all" )
df_client_experiment.shape

(70595, 10)

In [ ]:
# df_client_experiment.tail()

In [ ]:
# df_client_experiment.isna().sum()

In [ ]:
# df_client_experiment.info()

In [7]:
df_client_experiment = df_client_experiment.dropna(subset = "variation")
df_client_experiment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50488 entries, 0 to 50499
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id            50488 non-null  int64
 1   client_tenure_year   50488 non-null  float64
 2   client_tenure_month  50488 non-null  float64
 3   client_age           50487 non-null  float64
 4   gender               50488 non-null  object
 5   num_accts            50488 non-null  float64
 6   balance              50488 non-null  float64
 7   calls_6_mnth         50488 non-null  float64
 8   logons_6_mnth        50488 non-null  float64
 9   variation            50488 non-null  object
dtypes: float64(7), int64(1), object(2)
memory usage: 4.2+ MB

In [8]:
df_client_experiment["client_age"] = df_client_experiment["client_age"].fillna(df_client_experiment["client_age"].mean())
df_client_experiment.isna().sum()

client_id              0
client_tenure_year     0
client_tenure_month    0
client_age             0
gender                 0
num_accts              0
balance                0
calls_6_mnth           0
logons_6_mnth          0
variation              0
dtype: int64

In [9]:
def clean_gdr(x):
    gender = str(x)
    if gender == "X": 
        return "U"
    else:
        return x
    
df_client_experiment["gender"] = df_client_experiment["gender"].fillna("U")
# df_client["gendr"] = df_client["gendr"].apply(lambda x:"U" if x == "X" else x for x in df_client["gendr"])
df_client_experiment["gender"] = df_client_experiment["gender"].str.strip().apply(clean_gdr)
df_client_experiment["gender"].unique()

array(['U', 'M', 'F'], dtype=object)

In [ ]:
# df_client_experiment.info()

In [10]:
for col in ["client_tenure_year","client_tenure_month", "client_age", "num_accts","calls_6_mnth", "logons_6_mnth"]:
    df_client_experiment[col] = df_client_experiment[col].astype("int64")
df_client_experiment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50488 entries, 0 to 50499
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id            50488 non-null  int64
 1   client_tenure_year   50488 non-null  int64
 2   client_tenure_month  50488 non-null  int64
 3   client_age           50488 non-null  int64
 4   gender               50488 non-null  object
 5   num_accts            50488 non-null  int64
 6   balance              50488 non-null  float64
 7   calls_6_mnth         50488 non-null  int64
 8   logons_6_mnth        50488 non-null  int64
 9   variation            50488 non-null  object
dtypes: float64(1), int64(7), object(2)
memory usage: 4.2+ MB

In [ ]:
# df_client_experiment

In [11]:
df_client_experiment.to_csv(config['data']['clean']['file_demo_experiment_cleaned'],sep=",", index= False)

In [15]:
df_client_experiment["num_accts"].unique()
df_client_experiment.head()

,client_id,client_tenure_year,client_tenure_month,client_age,gender,num_accts,balance,calls_6_mnth,logons_6_mnth,variation
0,836976,6,73,60,U,2,45105.30,6,9,Test
1,2304905,7,94,58,U,2,110860.30,6,9,Control
2,1439522,5,64,32,U,2,52467.79,6,9,Test
3,1562045,16,198,49,M,2,67454.65,3,6,Test
4,5126305,12,145,33,F,2,103671.75,0,3,Control

5.Transform

In [ ]:
df_footprints_cleaned = pd.read_csv(config['data']['clean']['footprint_final_client_experiment_Cleaned'])
df_footprints_cleaned.tail()

,client_id,visitor_id,visit_id,process_step,date_time,treatment_group
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
317231,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
317232,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
317233,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
317234,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [10]:
# df_footprints_cleaned.duplicated(subset = ["client_id","visitor_id", "visit_id" ]).sum()
df_footprints_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317235 entries, 0 to 317234
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   client_id        317235 non-null  int64
 1   visitor_id       317235 non-null  object
 2   visit_id         317235 non-null  object
 3   process_step     317235 non-null  object
 4   date_time        317235 non-null  object
 5   treatment_group  317235 non-null  object
dtypes: int64(1), object(5)
memory usage: 14.5+ MB

In [33]:
df_online = df_footprints_cleaned[df_footprints_cleaned.duplicated(['client_id','visitor_id','visit_id'],keep=False)]
df_online.shape
# df_online[df_online["client_id"] == 1336]

(305837, 6)

In [32]:
df_not_online = df_footprints_cleaned[~df_footprints_cleaned.duplicated(subset = ["client_id","visitor_id", "visit_id" ],keep=False)]
df_not_online.shape

(11398, 6)

In [36]:
df_footprints_cleaned.shape[0] == df_online.shape[0] + df_not_online.shape[0]

True

In [40]:
df_online[df_online["client_id"]== 1574008]

,client_id,visitor_id,visit_id,process_step,date_time,treatment_group
317226,1574008,117364417_77840596075,528720790_71583064618_169151,confirm,2017-05-06 23:51:05,Test
317227,1574008,117364417_77840596075,528720790_71583064618_169151,step_3,2017-05-06 23:50:40,Test
317228,1574008,117364417_77840596075,528720790_71583064618_169151,step_2,2017-05-06 23:43:47,Test
317229,1574008,117364417_77840596075,528720790_71583064618_169151,step_1,2017-05-06 23:43:34,Test
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test

In [41]:
df_online.tail(10)

,client_id,visitor_id,visit_id,process_step,date_time,treatment_group
317224,433098,5505424_50616523266,773565250_67577573147_389841,start,2017-05-13 15:30:47,Control
317226,1574008,117364417_77840596075,528720790_71583064618_169151,confirm,2017-05-06 23:51:05,Test
317227,1574008,117364417_77840596075,528720790_71583064618_169151,step_3,2017-05-06 23:50:40,Test
317228,1574008,117364417_77840596075,528720790_71583064618_169151,step_2,2017-05-06 23:43:47,Test
317229,1574008,117364417_77840596075,528720790_71583064618_169151,step_1,2017-05-06 23:43:34,Test
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
317231,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
317232,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
317233,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
317234,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [43]:
df_online_sort = df_online.sort_values(by = ["client_id","date_time"], ascending= True)

In [ ]:
df_online_sort.tail(20)

,client_id,visitor_id,visit_id,process_step,date_time,treatment_group
177529,9999400,915967319_19082377501,288904166_90826265353_276104,start,2017-04-20 05:21:28,Test
177528,9999400,915967319_19082377501,288904166_90826265353_276104,step_1,2017-04-20 05:21:50,Test
177527,9999400,915967319_19082377501,288904166_90826265353_276104,step_2,2017-04-20 05:22:17,Test
177526,9999400,915967319_19082377501,288904166_90826265353_276104,step_3,2017-04-20 05:23:03,Test
177525,9999400,915967319_19082377501,288904166_90826265353_276104,confirm,2017-04-20 05:23:27,Test
299437,9999626,52633065_71189986073,182723364_27031318473_880901,start,2017-05-14 09:07:51,Test
299436,9999626,52633065_71189986073,182723364_27031318473_880901,step_1,2017-05-14 09:07:59,Test
104812,9999729,604429154_69247391147,99583652_41711450505_426179,start,2017-04-05 13:40:49,Test
104811,9999729,604429154_69247391147,99583652_41711450505_426179,step_1,2017-04-05 13:41:04,Test
104883,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:21:27,Test
104882,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49,Test
104881,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36,Test
104880,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57,Test
273890,9999729,834634258_21862004160,870243567_56915814033_814203,start,2017-05-08 16:08:25,Test
273889,9999729,834634258_21862004160,870243567_56915814033_814203,step_1,2017-05-08 16:08:30,Test
273888,9999729,834634258_21862004160,870243567_56915814033_814203,step_2,2017-05-08 16:08:40,Test
273887,9999729,834634258_21862004160,870243567_56915814033_814203,step_3,2017-05-08 16:09:19,Test
273886,9999729,834634258_21862004160,870243567_56915814033_814203,confirm,2017-05-08 16:09:40,Test
243649,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test
243648,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test

In [55]:
df_online_sort["date_time"] = pd.to_datetime(df_online_sort["date_time"],errors="coerce")

In [56]:
df_online_sort["time_diff"] = df_online_sort.groupby(["client_id","visitor_id","visit_id"])["date_time"].transform(lambda x: x - x.iloc[0] if not x.isna().any() else pd.NA)
# df_online_sort.groupby(["client_id","visitor_id","visit_id"])["date_time"].agg({"timediff": lambda x: x - x.iloc[0]} )

In [60]:
df_online_sort["time_diff_relative"] = df_online_sort.groupby(["client_id", "visitor_id", "visit_id"])["date_time"].diff().fillna(pd.Timedelta(0))

In [61]:
df_online_sort.head()

,client_id,visitor_id,visit_id,process_step,date_time,treatment_group,time_diff,time_diff_relative
70440,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,0 days 00:00:00,0 days 00:00:00
70439,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,0 days 00:00:07,0 days 00:00:07
70438,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,0 days 00:00:39,0 days 00:00:32
70437,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,0 days 00:02:18,0 days 00:01:39
70436,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,0 days 00:02:38,0 days 00:00:20

In [64]:
df_online_sort.to_csv(config['data']['clean']['file_footprints_transformed'],sep=",", index= False)