In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import yaml
%matplotlib inline

try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)
except:
    print("Yaml configuration file not found!")

In [ ]:
df_footprint = pd.read_csv(config['data']['clean']['footprint_final_client_experiment_Cleaned'])

In [ ]:
df_final_demo = pd.read_csv(config['data']['clean']['file_demo_experiment_cleaned'])

In [2]:
df_footprints_transformed = pd.read_csv(config['data']['clean']['file_footprints_transformed'])

In [6]:
df_footprints_transformed

,client_id,visitor_id,visit_id,process_step,date_time,treatment_group,time_diff,time_diff_relative
0,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,0 days 00:00:00,0 days 00:00:00
1,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,0 days 00:00:07,0 days 00:00:07
2,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,0 days 00:00:39,0 days 00:00:32
3,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,0 days 00:02:18,0 days 00:01:39
4,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,0 days 00:02:38,0 days 00:00:20
...,...,...,...,...,...,...,...,...
305832,9999729,834634258_21862004160,870243567_56915814033_814203,step_2,2017-05-08 16:08:40,Test,0 days 00:00:15,0 days 00:00:10
305833,9999729,834634258_21862004160,870243567_56915814033_814203,step_3,2017-05-08 16:09:19,Test,0 days 00:00:54,0 days 00:00:39
305834,9999729,834634258_21862004160,870243567_56915814033_814203,confirm,2017-05-08 16:09:40,Test,0 days 00:01:15,0 days 00:00:21
305835,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,0 days 00:00:00,0 days 00:00:00
305836,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,0 days 00:00:08,0 days 00:00:08

In [ ]:
#df.to_csv("plath_to_destination_file", index=False)

In [ ]:
df_final_experiment = pd.read_csv(config['data']['raw']['file_experiment_clients'])

In [ ]:
df_footprints = pd.read_csv(config['data']['raw']['file_footprints'])
df_footprints = df_footprints.drop(columns=['Unnamed: 0'])

df_footprints

In [ ]:
df_footprints.columns

In [ ]:
df_footprints.isnull().sum()

In [ ]:
total_duplicates = df_footprints.duplicated().sum()
print(total_duplicates)

In [ ]:
df_footprints[df_footprints.duplicated()].sort_values(by="client_id")

In [ ]:
df_footprints.shape

In [ ]:
df_footprints[df_footprints["client_id"] == 1531]

In [ ]:
# join with final_experiment

In [ ]:
df_footprints.info()

In [ ]:
df_footprints["date_time"] = pd.to_datetime(df_footprints["date_time"])

In [ ]:
df_footprints["date_time"]

# Cleaning steps done: 
## Data Types
 Change data type for the column date_time from object to datetime
## Duplicates 
there is 10764 to discuss 
## Column names are correct

In [ ]:
df_final_experiment

In [ ]:
df_footprints_cleaned = df_footprints.drop_duplicates()

In [ ]:
df_footprints_cleaned[df_footprints_cleaned["client_id"] == 1531]

In [ ]:
# df_footprints_cleaned 
df_final_experiment

In [ ]:
df_final = df_footprints_cleaned.merge(df_final_experiment, how='left', on='client_id')

In [ ]:
df_final

In [ ]:
df_final["Variation"].unique()

In [ ]:
df_final_v1 = df_final.dropna(subset=['Variation'])

In [ ]:
df_final_v1.shape

In [ ]:
df_final_v1.columns

In [ ]:
df_final_v2 = df_final_v1.rename(columns={
    'Variation': 'treatment_group'
})

In [ ]:
df_final_v2.to_csv(config['data']['clean']['footprint_final_client_experiment_Cleaned'], index=False, sep=',')

In [ ]:
df_footprint[df_footprint['process_step'] == 'confirm']

In [ ]:
df_final_demo[df_final_demo['client_age'] == 36]