In [12]:
import yaml
try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)
except:
    print("Yaml configuration file not found!")

# df.to_csv(config['data']['raw']['file'], index=False, sep=";")

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [16]:
df_file_demo = pd.read_csv(config['data']['raw']['file_demo'])

In [22]:
df_file_clients = pd.read_csv(config['data']['raw']['file_clients'])

In [24]:
df_file_web_1 = pd.read_csv(config['data']['raw']['file_web1'])

In [25]:
df_file_web_2 = pd.read_csv(config['data']['raw']['file_web1'])

In [18]:
df_file_demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [ ]:
df_file_clients